h1{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}
h2{
	text-align: center;
	font-weight: bold;
	background-color: white;
	width: 200px;
	margin-left: 100px;
}


#beef{
	width :400px;
	background-color: orange;
	border: 3px solid black;
	float:right;
	margin : 20px;

}
#sushi{
	width :400px;
	background-color: green;
	border: 3px solid black;
	float:right;
	margin: 20px;
	
}
#anmol{
	width :400px;
	background-color: yellow;
	border: 3px solid black;
	margin: 20px;
	float: right;
}
p{
	text-align: center;
	font-weight: bold;
}

body{
	background-color: grey;
}
@media(min-width: 992px)
{
	#anmol{
		width: 400px;
	}
	#beef{
		width: 400px;
	}
	#sushi{
		width: 400px;
	}
	h2{width:100px;
		margin-left: 220px;}
}
@media(min-width: 991px)and(max-width: 768px)
{
	#anmol{
		width:400px;
	}
	#beef{
		width:400px;
	}
	#sushi{
		width:400px;
	}
	h2{
		width:100px;
		margin-left: 220px;
	}
}
@media(min-width: 767px)
{
	#anmol{
		width:25%;
	}
	#beef{
		width:25%;
	}
	#sushi{
		width:25%;
	}
	h2{width:25%;
		margin-left: 25%;
	}
}